{
  "extends": "strongloop",
  "parserOptions": {
    "ecmaVersion": 6,
    "spread": true,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "rules": {
    "strict": "off"
  }
}
